@font-face {
    font-family: 'Young Serif';
    src: url('../fonts/young-serif/YoungSerif-Regular.ttf') format('woff2'),
}

@font-face {
    font-family: 'Oufit Bold';
    src: url('../fonts/oufit-bold/Oufit-Bold.ttf') format('woff2'),
}

@font-face {
    font-family: 'Oufit Regular';
    src: url('../fonts/oufit-regular/Oufit-Regular.ttf') format('woff2'),
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);


}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--stone-100);
    margin: 0;
    padding: 64px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p1 {
    padding: 4px;
}
.p2 {
    padding: 8px;
}
.p3 {
    padding: 12px;
}
.p4 {
    padding: 16px;
}
.p5 {
    padding: 20px;
}
.m1 {
    margin: 4px;
}
.m2 {
    margin: 8px;
}
.m3 {
    margin: 12px;
}
.m4 {
    margin: 16px;
}
.m5 {
    margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    color: var(--stone-900);
}

h2 {
    font-family: 'Young Serif', serif;
    font-size: 1.5rem;
    color: var(--brown-800);
}
h3 {
    font-family: 'Oufit Bold', sans-serif;
    font-size: 1rem;
    color: var(--rose-800);
}

p {
    font-family: 'Oufit Regular', sans-serif;
    font-size: 0.875rem;
    color: var(--stone-600);
    line-height: 1.5;
}

li {
    font-family: 'Oufit Bold', sans-serif;
    font-size: 1.2rem;
    color: var(--brown-800);
    font-weight: bold;
    margin-right: 8px;
}

.container {
    width: 450px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    gap: 16px;
}

.st-prep {
    background-color: var(--rose-50);
    width: 100%;
    border-radius: 10px;
    padding: 16px;
}